* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$russianViolet: #190933;
$ghostWhite: #F8F8FF;
$blueMunsell: #2292A4;
$purbleNavy: #665687;
$maximumYellow: #F6F930;
$tartOrange: #F0544F;
$greenCrayola: #1CAC78;
$vermilion: #D9381E;
$englishVermilion: #CC474B;
$darkPastelGreen: #03C03C;
$rubyRed: #9B111E;
$teaGreen: #D0F0C0;
$goGreen: #00AB66;

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Secular One', sans-serif;
    position: relative;
    height: 100vh;
    @include flexCenter();
    background-image: linear-gradient(-45deg, $russianViolet -25%, $tartOrange 125%);
}