.btn {
    position: relative;
    align-self: center;
    background-color: transparent;
    border-style: solid;
    border-color: $ghostWhite;
    color: $ghostWhite;
    padding: 1rem 2rem;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    color: $ghostWhite;
    background-color: transparent;
    border-radius: 25px;
    border-color: $purbleNavy;
}

.btn::before {
    content: var(--msg);
    position: absolute;
    width: 200%;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}