@import '_body.scss';

.container {
    width: 80%;
    height: 75%;
    background-color: $russianViolet;
    display: flex;
    position: relative;
    overflow: hidden;

    .user {
        position: absolute;
        color: $ghostWhite;
        font-size: 3rem;
        left: 2%;
        top: 2%;
        z-index: 1;
    }

    .form {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;

        .box1, .box2 {
            height: 100%;
        }
    
        .box1 {
            width: 50%;
            @include flexCenter();
            justify-content: space-around;
            z-index: 1;
    
            .col1, .col2 {
                @import '_formInput.scss';
                width: 35%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-starts;
    
                #special {
                    color-scheme: dark;
                }
            }
        }
    
        .box2 {
            width: 60%;
            background-color: $purbleNavy;
            transform: skewX(-32.3deg);
            position: absolute;
            right: -25%;
            @include flexCenter();
            z-index: 0;
    
            .btn-container {
                width: 100%;
                height: 50%;
                transform: skewX(32.3deg);
                position: absolute;
                left: -25%;
                @include flexCenter();
                flex-direction: column;
                justify-content: space-around;
    
                @import '_submitButton.scss';
    
                .update:hover {
                    border-color: $goGreen;
                    background-color: transparent;
                    color: $ghostWhite;
                }
    
                .delete:hover {
                    background-color: transparent;
                    border-color: $englishVermilion;
                    color: white;
                }
            }
    
            @media only screen and (max-width: 1300px) {
                transform: skewX(0deg);
                width: 50%;
                right: 0%;
                .btn-container {
                    transform: skewX(0deg);
                    left: 0%;
                }
            }
        }
    }
}
