@import '_body.scss';

.container {
    max-width: 500px;
    width: 60%;
    height: 80%;
    background-color: $russianViolet;
    // border-style: solid;
    // border-color: $purbleNavy;
    // border-width: 1px;
    // border-radius: 75px;
    box-shadow: 10px 10px 25px 1px black;
    overflow: hidden;
    @include flexCenter();

    .form {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        .login-title {
            color: $ghostWhite;
            font-size: 3rem;
            text-shadow: 5px 5px 25px black;
        }

        .form-container {
            height: 50%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: flex-start;

            @import '_formInput.scss';

            #user {
                position: relative;
            }

            #user::before {
                content: 'Hello World';
                width: 100%;
                position: absolute;
                color: red;
            }
        }

        @import '_submitButton.scss';
    }
}

.sign-up {
   position: absolute; 
   top: 95%;
   color: $ghostWhite;

   .switch {
        color: $maximumYellow;
        text-decoration: none;
   }
}