@import '_body.scss';

.container {
    width: 40%;
    height: 80%;
    background-color: $russianViolet;
    // border-style: solid;
    // border-color: $purbleNavy;
    // border-width: 1px;
    // border-radius: 75px;
    box-shadow: 10px 10px 25px 1px black;
    overflow: hidden;
    @include flexCenter();

    .form {
        width: 100%;
        height: 100%;
        @include flexCenter();
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        .signup-title {
            color: $ghostWhite;
            font-size: 3rem;
            text-shadow: 5px 5px 25px black;
        }

        .checkUser{
            color: red;
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translateX(-50%);
        }

        .form-container {
            width: 100%;
            height: 60%;
            @include flexCenter();
            justify-content: space-evenly;

            .col1, .col2 {
                @import '_formInput.scss';
                width: 30%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-starts;
            }
        }

        @import 'submitButton.scss';
    }
}